<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>announcementItems</key>
		<array>
			<dict>
				<key>createdDate</key>
				<string>2018-05-18 18:16:20</string>
				<key>id</key>
				<string>65</string>
				<key>title</key>
				<string>关于连连支付合作银行兴业、中国、平安系统维护的通知</string>
			</dict>
			<dict>
				<key>createdDate</key>
				<string>2018-05-17 17:56:05</string>
				<key>id</key>
				<string>64</string>
				<key>title</key>
				<string>关于连连支付合作银行光大银行系统维护的通知</string>
			</dict>
			<dict>
				<key>createdDate</key>
				<string>2018-05-14 10:21:21</string>
				<key>id</key>
				<string>63</string>
				<key>title</key>
				<string>关于连连支付合作银行中国银行系统恢复的通知</string>
			</dict>
		</array>
		<key>activityArr</key>
		<array>
			<dict>
				<key>imaUrl</key>
				<string></string>
				<key>activityUrl</key>
				<string></string>
			</dict>
		</array>
		<key>MainShowArr</key>
		<array>
			<dict>
				<key>showName</key>
				<string>活期-微微宝</string>
				<key>rightTit</key>
				<string>50起投</string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/rm_1.png</string>
				<key>realInterest</key>
				<string>4.3%</string>
				<key>pragramIntro</key>
				<string></string>
				<key>lunaP2pBorrowId</key>
				<string></string>
				<key>leftTit</key>
				<string>当日计息</string>
				<key>leftAmount</key>
				<string>500000</string>
				<key>isShowBut</key>
				<string></string>
				<key>disStartMoney</key>
				<string>100起投</string>
				<key>disLimit</key>
				<string>当日计息</string>
				<key>disGetMoney</key>
				<string>灵活存取</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益</string>
				<key>borrowState</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>completePercent</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>adIma</key>
				<string></string>
			</dict>
			<dict>
				<key>showName</key>
				<string>新手标18051901(V)</string>
				<key>rightTit</key>
				<string></string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/xs_2.png</string>
				<key>realInterest</key>
				<string>7.0%</string>
				<key>pragramIntro</key>
				<string></string>
				<key>lunaP2pBorrowId</key>
				<string>1926</string>
				<key>leftTit</key>
				<string></string>
				<key>leftAmount</key>
				<string>10.76</string>
				<key>isShowBut</key>
				<string></string>
				<key>disStartMoney</key>
				<string></string>
				<key>disLimit</key>
				<string>定期</string>
				<key>disGetMoney</key>
				<string>新手专享</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益率</string>
				<key>completePercent</key>
				<string>46.20%</string>
				<key>borrowState</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>adIma</key>
				<string></string>
			</dict>
		</array>
		<key>borrowItems</key>
		<array>
			<dict>
				<key>borrowTypeOther</key>
				<string>米粒宝</string>
				<key>currentTip1</key>
				<string>当日计息</string>
				<key>currentTip2</key>
				<string>灵活存取</string>
				<key>currentTip3</key>
				<string>100起投</string>
				<key>hasActivity</key>
				<false/>
				<key>rate</key>
				<string>8.2</string>
				<key>rate1</key>
				<string>7</string>
				<key>rate2</key>
				<string>1.2</string>
				<key>timeCount</key>
				<string>活期</string>
				<key>title</key>
				<string>米粒宝</string>
			</dict>
		</array>
		<key>borrowSize</key>
		<string>4</string>
		<key>error</key>
		<string></string>
		<key>errorlog</key>
		<string></string>
		<key>hasPwd</key>
		<string>1</string>
		<key>isHiden</key>
		<string>1</string>
		<key>operationreport</key>
		<string>http://www.vimzx.com/operateReport20184.htm&quot;</string>
		<key>registIdenty</key>
		<string>2</string>
		<key>success</key>
		<true/>
		<key>systemAllAmountW</key>
		<string>28312</string>
		<key>systemAllAmountY</key>
		<string>0</string>
		<key>systemAllProfitW</key>
		<string>149</string>
		<key>systemAllProfitY</key>
		<string>3531</string>
		<key>systemUserCount</key>
		<string>116492</string>
		<key>totalInterest</key>
		<string>0.00</string>
		<key>userCount</key>
		<string>0</string>
		<key>items</key>
		<array/>
		<key>scrollArr</key>
		<array/>
		<key>stepIma</key>
		<dict>
			<key>imageUrl</key>
			<string>http://www.vimzx.com/images/default/xinshou1_2x.png</string>
			<key>lunaP2pBorrowId</key>
			<string>1926</string>
		</dict>
	</dict>
	<dict>
		<key>MainShowArr</key>
		<array>
			<dict>
				<key>adIma</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>borrowState</key>
				<string>招标中</string>
				<key>completePercent</key>
				<string>0.00%</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益率</string>
				<key>disGetMoney</key>
				<string>7天</string>
				<key>disLimit</key>
				<string>定期</string>
				<key>disStartMoney</key>
				<string></string>
				<key>isShowBut</key>
				<string></string>
				<key>leftAmount</key>
				<string>200,000.00</string>
				<key>leftTit</key>
				<string>首投加息</string>
				<key>lunaP2pBorrowId</key>
				<string>1940</string>
				<key>pragramIntro</key>
				<string>票据宝是微米在线推出的以票据为主的核心产品，加入票据宝的资金将由微米在线超过10年风险控制经验的金融团队整体把控，以该项目所出具的银行承兑汇票作为基础，经过9重风控安全保障体系的严格核查后，实现债权对应匹配。投资者投资满期天后自动退出，退出成功后按退出本金的比例结算对应收益。</string>
				<key>realInterest</key>
				<string>8.5%</string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/bk_2.png</string>
				<key>rightTit</key>
				<string></string>
				<key>showName</key>
				<string>票据宝7天标18052101(IV)</string>
				<key>totalAmount</key>
				<string>200000.00</string>
				<key>leftImage</key>
				<string> http://www.vimzx.com/images/TouBiao.png</string>
			</dict>
			<dict>
				<key>adIma</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>borrowState</key>
				<string>招标中</string>
				<key>completePercent</key>
				<string>44.19%</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益率</string>
				<key>disGetMoney</key>
				<string>3月</string>
				<key>disLimit</key>
				<string>定期</string>
				<key>disStartMoney</key>
				<string></string>
				<key>isShowBut</key>
				<string></string>
				<key>leftAmount</key>
				<string>111,619.47</string>
				<key>leftTit</key>
				<string>首投加息</string>
				<key>lunaP2pBorrowId</key>
				<string>1931</string>
				<key>pragramIntro</key>
				<string>票据宝是微米在线推出的以票据为主的核心产品，加入票据宝的资金将由微米在线超过10年风险控制经验的金融团队整体把控，以该项目所出具的银行承兑汇票作为基础，经过9重风控安全保障体系的严格核查后，实现债权对应匹配。投资者投资满期天后自动退出，退出成功后按退出本金的比例结算对应收益。</string>
				<key>realInterest</key>
				<string>10.5%</string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/bk_2.png</string>
				<key>rightTit</key>
				<string></string>
				<key>showName</key>
				<string>票据宝3月标18051901(IV)</string>
				<key>totalAmount</key>
				<string>200000.00</string>
				<key>leftImage</key>
				<string> http://www.vimzx.com/images/TouBiao.png</string>
			</dict>
			<dict>
				<key>adIma</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>borrowState</key>
				<string>招标中</string>
				<key>completePercent</key>
				<string>55.27%</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益率</string>
				<key>disGetMoney</key>
				<string>1月</string>
				<key>disLimit</key>
				<string>定期</string>
				<key>disStartMoney</key>
				<string></string>
				<key>isShowBut</key>
				<string></string>
				<key>leftAmount</key>
				<string>89,450.45</string>
				<key>leftTit</key>
				<string>首投加息</string>
				<key>lunaP2pBorrowId</key>
				<string>1917</string>
				<key>pragramIntro</key>
				<string>票据宝是微米在线推出的以票据为主的核心产品，加入票据宝的资金将由微微理财超过10年风险控制经验的金融团队整体把控，以该项目所出具的银行承兑汇票作为基础，经过9重风控安全保障体系的严格核查后，实现债权对应匹配。投资者投资满期天后自动退出，退出成功后按退出本金的比例结算对应收益。</string>
				<key>realInterest</key>
				<string>9.5%</string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/bk_2.png</string>
				<key>rightTit</key>
				<string></string>
				<key>showName</key>
				<string>票据宝1月标18051803(X)</string>
				<key>totalAmount</key>
				<string>200000.00</string>
				<key>leftImage</key>
				<string> http://www.vimzx.com/images/TouBiao.png</string>
			</dict>
			<dict>
				<key>adIma</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>borrowState</key>
				<string>还款中</string>
				<key>completePercent</key>
				<string>100%</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益率</string>
				<key>disGetMoney</key>
				<string>1月</string>
				<key>disLimit</key>
				<string>定期</string>
				<key>disStartMoney</key>
				<string></string>
				<key>isShowBut</key>
				<string></string>
				<key>leftAmount</key>
				<string>0.00</string>
				<key>leftTit</key>
				<string>首投加息</string>
				<key>lunaP2pBorrowId</key>
				<string>2024</string>
				<key>pragramIntro</key>
				<string>票据宝是微米在线推出的以票据为主的核心产品，加入票据宝的资金将由微米在线超过10年风险控制经验的金融团队整体把控，以该项目所出具的银行承兑汇票作为基础，经过9重风控安全保障体系的严格核查后，实现债权对应匹配。投资者投资满期天后自动退出，退出成功后按退出本金的比例结算对应收益。</string>
				<key>realInterest</key>
				<string>9.5%</string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/bk_2.png</string>
				<key>rightTit</key>
				<string></string>
				<key>showName</key>
				<string>票据宝1月标18052901(I)</string>
				<key>totalAmount</key>
				<string>200000.00</string>
				<key>leftImage</key>
				<string> http://www.vimzx.com/images/TouBiao.png</string>
			</dict>
			<dict>
				<key>adIma</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>borrowState</key>
				<string>还款中</string>
				<key>completePercent</key>
				<string>100%</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益率</string>
				<key>disGetMoney</key>
				<string>7天</string>
				<key>disLimit</key>
				<string>定期</string>
				<key>disStartMoney</key>
				<string></string>
				<key>isShowBut</key>
				<string></string>
				<key>leftAmount</key>
				<string>0.00</string>
				<key>leftTit</key>
				<string>短期精选</string>
				<key>lunaP2pBorrowId</key>
				<string>2019</string>
				<key>pragramIntro</key>
				<string>票据宝是微米在线推出的以票据为主的核心产品，加入票据宝的资金将由微米在线超过10年风险控制经验的金融团队整体把控，以该项目所出具的银行承兑汇票作为基础，经过9重风控安全保障体系的严格核查后，实现债权对应匹配。投资者投资满期天后自动退出，退出成功后按退出本金的比例结算对应收益。</string>
				<key>realInterest</key>
				<string>8.5%</string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/bk_2.png</string>
				<key>rightTit</key>
				<string></string>
				<key>showName</key>
				<string>票据宝7天标18052901(II)</string>
				<key>totalAmount</key>
				<string>200000.00</string>
				<key>leftImage</key>
				<string> http://www.vimzx.com/images/TouBiao.png</string>
			</dict>
			<dict>
				<key>adIma</key>
				<string></string>
				<key>addInterest</key>
				<string></string>
				<key>bgImage</key>
				<string></string>
				<key>borrowDescribe</key>
				<string></string>
				<key>borrowState</key>
				<string>还款中</string>
				<key>completePercent</key>
				<string>100%</string>
				<key>disExpectedRevenue</key>
				<string>预期年化收益率</string>
				<key>disGetMoney</key>
				<string>7天</string>
				<key>disLimit</key>
				<string>定期</string>
				<key>disStartMoney</key>
				<string></string>
				<key>isShowBut</key>
				<string></string>
				<key>leftAmount</key>
				<string>0.00</string>
				<key>leftTit</key>
				<string>首投加息</string>
				<key>lunaP2pBorrowId</key>
				<string>2018</string>
				<key>pragramIntro</key>
				<string>票据宝是微米在线推出的以票据为主的核心产品，加入票据宝的资金将由微米在线超过10年风险控制经验的金融团队整体把控，以该项目所出具的银行承兑汇票作为基础，经过9重风控安全保障体系的严格核查后，实现债权对应匹配。投资者投资满期天后自动退出，退出成功后按退出本金的比例结算对应收益。</string>
				<key>realInterest</key>
				<string>8.5%</string>
				<key>rightImage</key>
				<string>http://www.vimzx.com/images/default/bk_2.png</string>
				<key>rightTit</key>
				<string></string>
				<key>showName</key>
				<string>票据宝7天标18052901(I)</string>
				<key>totalAmount</key>
				<string>200000.00</string>
				<key>leftImage</key>
				<string> http://www.vimzx.com/images/TouBiao.png</string>
			</dict>
		</array>
		<key>currentItems</key>
		<array>
			<dict>
				<key>borrowTypeOther</key>
				<string>米粒宝</string>
				<key>currentTip1</key>
				<string>100起投</string>
				<key>currentTip2</key>
				<string>当日计息</string>
				<key>currentTip3</key>
				<string>灵活存取</string>
				<key>rate</key>
				<string>8.2</string>
				<key>timeCount</key>
				<string>活期</string>
				<key>title</key>
				<string>米粒宝</string>
				<key>dayIncome</key>
				<string>天天赚收益</string>
				<key>leftTittle</key>
				<string>当日计息</string>
				<key>rightTittle</key>
				<string>灵活存取</string>
			</dict>
		</array>
		<key>errorlog</key>
		<string></string>
		<key>index</key>
		<string>1</string>
		<key>payCount</key>
		<string>1724</string>
		<key>muJiCount</key>
		<string>288</string>
		<key>items</key>
		<array>
			<dict>
				<key>AddInterest</key>
				<string>0%</string>
				<key>RealInterest</key>
				<string>8.50%</string>
				<key>amount</key>
				<string>20万元</string>
				<key>amountLeft</key>
				<string>200,000.00</string>
				<key>borrowState</key>
				<string>招标中</string>
				<key>borrowType</key>
				<string>担保标</string>
				<key>borrowTypeOther</key>
				<string>票据宝</string>
				<key>completePercent</key>
				<string>0.00</string>
				<key>currentTip1</key>
				<string>50起投</string>
				<key>currentTip2</key>
				<string>当日计息</string>
				<key>lunaP2pBorrowId</key>
				<string>1940</string>
				<key>maxBidAmount</key>
				<string>200,000.00</string>
				<key>minBidAmount</key>
				<string>50.00</string>
				<key>rate</key>
				<string>8.50%</string>
				<key>rateIncrease</key>
				<string></string>
				<key>rewardrate</key>
				<string>0.00%</string>
				<key>timeCount</key>
				<string>7天</string>
				<key>title</key>
				<string>票据宝7天标18052101(IV)</string>
			</dict>
			<dict>
				<key>AddInterest</key>
				<string>0%</string>
				<key>RealInterest</key>
				<string>10.50%</string>
				<key>amount</key>
				<string>20万元</string>
				<key>amountLeft</key>
				<string>111,619.47</string>
				<key>borrowState</key>
				<string>招标中</string>
				<key>borrowType</key>
				<string>担保标</string>
				<key>borrowTypeOther</key>
				<string>票据宝</string>
				<key>completePercent</key>
				<string>44.19</string>
				<key>currentTip1</key>
				<string>50起投</string>
				<key>currentTip2</key>
				<string>当日计息</string>
				<key>lunaP2pBorrowId</key>
				<string>1931</string>
				<key>maxBidAmount</key>
				<string>111,619.47</string>
				<key>minBidAmount</key>
				<string>50.00</string>
				<key>rate</key>
				<string>10.50%</string>
				<key>rateIncrease</key>
				<string></string>
				<key>rewardrate</key>
				<string>0.00%</string>
				<key>timeCount</key>
				<string>3月</string>
				<key>title</key>
				<string>票据宝3月标18051901(IV)</string>
			</dict>
			<dict>
				<key>AddInterest</key>
				<string>0%</string>
				<key>RealInterest</key>
				<string>9.50%</string>
				<key>amount</key>
				<string>20万元</string>
				<key>amountLeft</key>
				<string>89,450.45</string>
				<key>borrowState</key>
				<string>招标中</string>
				<key>borrowType</key>
				<string>担保标</string>
				<key>borrowTypeOther</key>
				<string>票据宝</string>
				<key>completePercent</key>
				<string>55.27</string>
				<key>currentTip1</key>
				<string>50起投</string>
				<key>currentTip2</key>
				<string>当日计息</string>
				<key>lunaP2pBorrowId</key>
				<string>1917</string>
				<key>maxBidAmount</key>
				<string>89,450.45</string>
				<key>minBidAmount</key>
				<string>50.00</string>
				<key>rate</key>
				<string>9.50%</string>
				<key>rateIncrease</key>
				<string></string>
				<key>rewardrate</key>
				<string>0.00%</string>
				<key>timeCount</key>
				<string>1月</string>
				<key>title</key>
				<string>票据宝1月标18051803(X)</string>
			</dict>
		</array>
		<key>nwBorrowItems</key>
		<array>
			<dict>
				<key>AddInterest</key>
				<string>0%</string>
				<key>RealInterest</key>
				<string>15.00%</string>
				<key>amount</key>
				<string>20万元</string>
				<key>amountLeft</key>
				<string>79,000.00</string>
				<key>borrowState</key>
				<string>招标中</string>
				<key>borrowType</key>
				<string>担保标</string>
				<key>borrowTypeOther</key>
				<string>新手标</string>
				<key>completePercent</key>
				<string>60.50</string>
				<key>currentTip1</key>
				<string>50起投</string>
				<key>currentTip2</key>
				<string>当日计息</string>
				<key>lunaP2pBorrowId</key>
				<string>1943</string>
				<key>minBidAmount</key>
				<string>50.00</string>
				<key>rate</key>
				<string>15.00%</string>
				<key>rate1</key>
				<string>12</string>
				<key>rate2</key>
				<string>3</string>
				<key>rateIncrease</key>
				<string></string>
				<key>rewardrate</key>
				<string>0.00%</string>
				<key>timeCount</key>
				<string>7天</string>
				<key>title</key>
				<string>WMZX201805211943</string>
			</dict>
		</array>
		<key>pageCount</key>
		<string>131</string>
		<key>success</key>
		<true/>
	</dict>
	<dict>
		<key>activityRuns</key>
		<array>
			<dict>
				<key>Title</key>
				<string>新手三重礼，终于等到你</string>
				<key>activityRunType</key>
				<string>1</string>
				<key>address</key>
				<string>http://www.vimzx.com/registerActivity3.htm&quot;,&quot;endDate</string>
				<key>endDate</key>
				<string>2018-04-01</string>
				<key>imagesUrl</key>
				<string>http://www.vimzx.com/user/821/205.jpg?c=6968219327865837305</string>
				<key>isComplete</key>
				<string>1</string>
				<key>startDate</key>
				<string>2017-08-25</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>米粒宝全新升级</string>
				<key>activityRunType</key>
				<string>5</string>
				<key>address</key>
				<string>http://www.vimzx.com/wap/trade/current/current_at.htm</string>
				<key>endDate</key>
				<string>2018-04-01</string>
				<key>imagesUrl</key>
				<string>http://www.vimzx.com/user/821/154.jpg?c=9101904094736197641</string>
				<key>isComplete</key>
				<string>1</string>
				<key>startDate</key>
				<string>2017-10-18</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>微爱告白</string>
				<key>activityRunType</key>
				<string>4</string>
				<key>address</key>
				<string>http://www.vimzx.com/activity/registerActivity17.htm</string>
				<key>endDate</key>
				<string>2018-05-20</string>
				<key>imagesUrl</key>
				<string>http://www.vimzx.com/user/821/226.jpg?c=7674731142664435833</string>
				<key>isComplete</key>
				<string>1</string>
				<key>startDate</key>
				<string>2018-05-11</string>
			</dict>
		</array>
		<key>errorlog</key>
		<string></string>
		<key>pageCount</key>
		<string>5</string>
		<key>success</key>
		<true/>
	</dict>
</array>
</plist>
